.home {
    //^ MOBILE-FIRST
    &__content {
        &__title {  
            margin-left: $gutter-medium;
            &__h3 {
                margin-top: $gutter-very-large;
                margin-left: $gutter-medium;
                font-size: $font-size-medium-regular;
                color: $titles;
                padding-bottom: $gutter-large;
            }
        }
        .icons {
            color: $titles;
            font-size: $font-size-extra-small;
            margin-right: $gutter-medium;
        }
        &__text-normal {
            text-align: justify;
            margin-left: $gutter-medium;
            margin-right: $gutter-medium;
            margin-bottom: $gutter-large;
        }
        &__projects {
            width: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
            margin-top: $gutter-regular;
        }
    }

    //^ MEDIUM BREAKPOINT
    @media (min-width: $breakpoint-medium-min-width) {
        &__content {
            &__title {
                &__h3 {
                    font-size: $font-size-regular;
                }
                .icons {
                    font-size: $font-size-very-small;
                }
            }
            &__projects {
                flex-direction: row;
                flex-wrap: wrap;
                justify-content: space-evenly;
            }
        }
    }


    //^ LARGE BREAKPOINT
    @media (min-width: $breakpoint-large-min-width) {
        &__content {
            &__title {
                &__h3 {
                    font-size: $font-size-large;
                }
                .icons {
                    font-size: $font-size-small;
                }
            }
        }
    }
    

    //~ DARKMODE ON
    .text--darkmode--on {
        color: $darkmode-on-main-color;
    }
}