.home {
    &__footer{
        //^ MOBILE-FIRST
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        margin: 20px;
        &__text {
            align-items: center;
            text-align: center;
            p {
                margin-bottom: 2.5px;
                text-align: center;
                font-size: $font-size-very-small;
            }
            a {
                margin-top: 2.5px;
                margin-bottom: 5px;
            }
        }
        // 
        @media (min-width: $breakpoint-medium-min-width){
            width: 100%;
            flex-direction: row;
            justify-content: space-around;
            align-items: baseline;
            margin-top: $gutter-very-large;
            margin-bottom: $gutter-very-large;
        }
    }

    #copyright {
        text-align: center;
    }



    //~ DARKMODE ON
    .text--darkmode--on{
        color: $darkmode-on-main-color;
    }
}