.home {
    &__content {
        &__project-card {
            width: 330px;
            border: $titles solid 1px;
            margin: $gutter-very-large;
            border-radius: 5px;
            &__title {
                width: 330px;
                background-image: $grey-light-gradient;
                position: absolute;
                margin: 0;
                text-align: right;
                padding: $gutter-very-small 0;
                border-radius: 5px 5px 0 0;
                font-family: $card-title-font;
            }
            &__img {
                width: 330px;
                height: 220px;
                border-radius: 5px 5px 0 0;
            }
            &__text {
                width: 95%;
                padding: $gutter-medium $gutter-very-small;
            }
            &__text-date {
                padding: $gutter-medium $gutter-very-small;
                font-style: italic;
                font-size: $font-size-very-small;
                .date {
                    color: $titles;
                }
            }
        }
    }
}