@font-face {
    font-family: "Quicksand Regular";
    src: url("../fonts/Quicksand/Quicksand-Regular.ttf");
}

@font-face {
    font-family: "Quicksand Light";
    src: url("../fonts/Quicksand/Quicksand-Light.ttf");
}

@font-face {
    font-family: "Zen Dots";
    src: url("../fonts/Zen_Dots/ZenDots-Regular.ttf");
}