.home {
    
    //^ BREAKPOINTS MOBILE
    input, textarea {
        border: solid 0.5px $titles;
        border-radius: 2.5px;
        height: 20px;
        padding-left: 5px;
    }

    input::placeholder, textarea::placeholder {
        color: $titles;
        font-style: italic;
    }

    input:hover, textarea:hover {
        @include shadowBlurryFunction;
    }

    textarea {
        height: 300px;
        width: 90%;
        text-align: justify;
        padding: 10px;
        margin-top: 2.5px;
    }


    .blurryScreen {
        @include blurryScreenFunction;
        @include transitionContactFunction;
    }

    .unblurryScreen {
        @include unblurryFunction;
        @include transitionContactFunction;
    }

    .contact-form {
        @include transitionContactFunction;
        opacity: 0;
        display: none;
    }

    .contact-form--active {
        @include transitionContactFunction;
        @include shadowBlurryFunction;
        opacity: 1;
        width: 100%;
        display: flex;
        position: absolute;
        top: 25px;
        border-radius: 5px;
        min-height: 850px;
        min-width: 300px;
    }
    
    .title-form {
        width: 100%;
        height: 25px;
        text-align: center;
    }

    .icons {
        color: $titles;
    }

    .cross-to-quit {
        position: relative;
        right: 10px;
        top: 10px;
        height: 20px;
    }

    .cross-to-quit:hover {
        color: $titles-semi-transparent;
        transform: rotate(20deg);
    }

    .form-fields {
        display: flex;
        flex-direction: column;
        position: absolute;
        z-index: 1;
        width: 95%;
        height: 85%;
        margin-top: 65px;
        margin-bottom: 10px;
        margin-left: 2.5%;
        margin-right: 2.5%;

        &__legend {
            padding-left: 5px;
        }

        &__field {
            padding: 5px 5px;
            margin-bottom: 2.5px;
        }

        &__marges {
            margin-top: 15px;
        }
    }

    .input--active {
        outline: $titles double;
        @include shadowBlurryFunction;
    }
    
    .textarea {
        display: flex;
        flex-direction: column;
    }

    .textarea textarea {
        align-items: center;
    }

    .send-button {
        height: 35px;
        font-family: $font-main-light;
        font-size: 1em;
    }


    //~ DARKMODE ON
    .form-fields {
        &__legend {
            color: $darkmode-on-main-color;
        }
    }
}