.link {
    color: $titles;
    text-decoration: underline 1.5px;
}
.link:hover {
    color: $titles-semi-transparent;
    text-decoration: none;
}
.link-title {
    margin: $gutter-small;
}


// ~ DARKMODE ON
.link--darkmode--on {
    color: $darkmode-on-light-color;
}

.link--darkmode--on:hover {
    color: white;
}