.home {
    &__content {
        &__project-card {
            width: $card-width;
            height: $card-height;
            // border: $titles solid 1px 1px 1px;
            margin: $gutter-very-large;
            border-radius: 5px;
            z-index: 10;
            &__divs {
                &__div-text {
                    width: $card-width;
                    position: absolute;
                    z-index: 2;
                    height: $card-height;
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: space-around;
                }
                &__div-link {
                    position: absolute;
                    z-index: 3;
                    width: $card-width;
                    height: $card-height;
                }
            }
            &__title {
                width: $card-width;
                position: absolute;
                z-index: 1;
                margin: 0;
                text-align: center;;
                padding: $gutter-very-small 0;
                border-radius: 5px 5px 0 0;
                font-family: $font-card-title;
                letter-spacing: $letter-spacing-project-card;
                font-size: $font-size-medium-regular;
            }
            &__img {
                width: $card-width;
                height: $card-height;
                border-radius: 5px;
                box-shadow: 0px 7.5px 1em -0.15em $shadow-blurry;
            }
            &__text {
                width: 95%;
                padding: $gutter-medium $gutter-very-small;
                text-align: center;
                font-family: $font-main-light;
                font-size: $font-size-medium;
                line-height: 1.3em;
                text-overflow: ellipsis;
                color: transparent;
            }
            &__text-date {
                padding: $gutter-medium $gutter-very-small;
                font-style: italic;
                font-size: $font-size-very-small;
                color: transparent;

                .colored-date {
                    color: transparent;
                }
            }
        }




        &__project-card-opened {

            p {
                color: black;
                font-size: $font-size-hypra-small;
                display: inline;
            }

            &__div {
            width: 100%;
            height: auto;
            text-align: center;
            border: solid 1px $gold;
            border-radius: 20px;
            }

            &__resume {
                margin: 20px;
                text-align: justify;

                &__title-resume {
                    display: inline;
                    text-transform: uppercase;
                    font-size: $font-size-ultra-small;
                    color: blue;
                    font-weight: bold;
                }
            }

            &__techno-tags {
                display: flex;
                flex-direction: row;
                flex-wrap: wrap;
                justify-content: space-evenly;
                margin: 15px 0;

                &__tags{
                    margin: 5px;
                    border-radius: 3px;
                    padding: 0 8px;
                    height: 17px;
                    background-color: rgba(123, 171, 226, 0.25);
                    display: flex;
                    align-items: center;
                }
            }

            &__slides {
                margin: 15px 20px;
                height: 100px;
                border: 1px solid blue;
                display: flex;
                align-items: center;
                justify-content: center;
            }

            &__goto {
                &__button {
                    border-radius: 5px;
                    border: none;
                    margin: 5px 0 15px 0;
                    padding: 8px;
                    width: 150px;
                    color: blue;
                    background-color: $gold-semi-transparent;
                }

                &__button:hover {
                    text-decoration: underline;
                    background-color: $gold;
                    color: white;
                    font-weight: bold;
                }
            }
        }
    }

    
    


    .display-none {
        display: none;
    }

    .popup {
        width: auto;
        height: auto;
        text-align: center;
        margin: $gutter-very-large;
        margin-bottom: 0;
    }

    //~ DARKMODE ON
    .project-card--texts--darkmode--on {
        color: white;
    }



    

    .blurry {
        @include shadowRegularFunction;
        @include blurryProjectCardFunction;
        @include transitionProjectCardFunction;
    }
    
    .unblurry {
        @include shadowBlurryFunction;
        @include unblurryFunction;
        @include transitionProjectCardFunction;
    }
    
    .transition {
        &__title {
            &__appears {
                @include transitionProjectCardFunction;
                color: $titles;
            }
            &__disappears {
                @include transitionProjectCardFunction;
                color: transparent;
            }
        }
        &__allP {
            &__appears {
                @include transitionProjectCardFunction;
                color: black;
                .colored-date {
                    color: $titles;
                    text-decoration: underline;
                }
            }
            &__disappears {
                @include transitionProjectCardFunction;
                color : transparent;
            }
        }
    }
}