.home {
    &__content {
        &__card-and-overview {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;                
        }

        &__projects {
            
            display: flex;
            flex-direction: column;
            height: auto;

            @media (min-width: $breakpoint-medium-min-width){
                flex-direction: row;
            }
        }        

        &__project-card {
            width: $card-width;
            height: $card-height;
            // border: $titles solid 1px 1px 1px;
            margin: $gutter-very-large;
            border-radius: 5px;
            &__divs {
                &__div-link {
                    position: absolute;
                    z-index: 3;
                    width: $card-width;
                    height: $card-height;
                }
            }
            &__title {
                width: $card-width;
                position: absolute;
                margin: 0;
                text-align: center;;
                padding: $gutter-very-small 0;
                border-radius: 5px 5px 0 0;
                font-family: $font-card-title;
                letter-spacing: $letter-spacing-project-card;
                font-size: $font-size-medium-regular;
            }
            &__img {
                width: $card-width;
                height: $card-height;
                border-radius: 5px;
                box-shadow: 0px 7.5px 1em -0.15em $shadow-blurry;
            }
        }
    }

        




    //~ DARKMODE ON
    .project-card--texts--darkmode--on {
        color: white;
    }



    

    .blurry {
        @include shadowRegularFunction;
        @include blurryProjectCardFunction;
        @include transitionProjectCardFunction;
    }
    
    .unblurry {
        @include shadowBlurryFunction;
        @include unblurryFunction;
        @include transitionProjectCardFunction;
    }
    
    .transition {
        &__title {
            &__appears {
                @include transitionProjectCardFunction;
                color: $titles;
            }
            &__disappears {
                @include transitionProjectCardFunction;
                color: transparent;
            }
        }
        &__allP {
            &__appears {
                @include transitionProjectCardFunction;
                color: black;
                .colored-date {
                    color: $titles;
                    text-decoration: underline;
                }
            }
            &__disappears {
                @include transitionProjectCardFunction;
                color : transparent;
            }
        }
    }
}